@import "normalize";
@import "variables";
@import "mediaqueries";
@import "font-face";
@import "typography";
@import "keyframes";
@import "layout";
@import "pageTransitions";

.m-segment {
	display:block;
	max-width:$content-max-width;
	margin-left:auto;
	margin-right:auto;
	.segment_content {
		font-size:1em;
	}
}

.m-type-sub-heading-1.header_intro {
	color:white;
}